@import "tailwindcss";

#root{
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Custom class*/
@layer utilities {
  .bg-rabbit-red {
    @apply bg-[#ea2e0e];
  }
}


